    @media screen and (max-width:1111px) {
        div.right {
            display: none;
        }
        div.left {
            display: none;
        }
        .main_proj_details {
            display: flex;
            height: 60vh;
            overflow: -moz-hidden-unscrollable;
            margin: 20px;
            padding: 20px;
        }
        .about_StyledPic {
            min-height: 150px;
        }
        div .inner {
            height: 430px;
        }
        /* section3 */
        .main_proj_details {
            display: flex;
            height: 60vh;
        }
        #project_heading {
            padding: 280px 0 10px 160px;
        }
        .example {
            display: flex;
            flex: 1;
            padding-left: 0px;
        }
        .box1 {
            display: flex;
            flex: 1;
            margin-right: 0px;
            /* height: 320px;
            width: 420px; */
            height: 380px;
            width: 550px;
            padding-left: 0px;
        }
        #projects_img {
            height: 380px;
            width: 550px;
        }
        .box2 {
            display: flex;
            flex: 1;
            height: 380px;
            width: 550px;
            margin-left: 0px;
            background-color: rgb(13 110 253 / 25%);
        }
        .project_title {
            top: -40px;
            right: 167px;
            font-size: 22px;
        }
        .p_colouroverride {
            color: #f8f9fa;
        }
        /* .div_about {
            padding-top: 250px;
        } */
    }
    /* To write media query for specific device use beside one @media screen and (device-width: 761px) { */
    
    @media screen and (max-width:768px) {
        div.right {
            display: none;
        }
        div.left {
            display: none;
        }
        .inner {
            height: 100vh;
        }
        /* section3 */
        .main_proj_details {
            display: flex;
            height: 60vh;
        }
        #project_heading {
            padding: 280px 0 10px 160px;
        }
        .example {
            display: flex;
            flex: 1;
            padding-left: 0px;
        }
        .box1 {
            display: flex;
            flex: 1;
            margin-right: 0px;
            /* height: 320px;
            width: 420px; */
            height: 380px;
            width: 550px;
            padding-left: 0px;
        }
        #projects_img {
            height: 380px;
            width: 550px;
        }
        .box2 {
            /* display: grid; */
            display: flex;
            flex: 1;
            /* height: 320px;
            width: 420px; */
            height: 380px;
            width: 550px;
            margin-left: 0px;
            background-color: rgb(13 110 253 / 25%);
        }
        .project_title {
            /* top: -95px;
            right: 150px; */
            top: -40px;
            right: 110px;
            font-size: 22px;
        }
        .p_colouroverride {
            color: #f8f9fa;
        }
        .div_about {
            margin: -10px 6% 0 6%;
            padding-top: 660px;
        }
    }
    
    @media screen and (max-width:480px) {
        div.right {
            display: none;
        }
        div.left {
            display: none;
        }
        .intro {
            font-size: 18px;
            padding: 20px 0 0 10px;
        }
        .intro_sentence {
            padding: 40px 0 10px 2px;
            margin: 0px;
            font-size: none;
        }
        .name,
        .hero,
        .hero2 {
            padding: 5px;
            margin: 0px;
        }
        h1 {
            font-size: 8px;
        }
        /* section2 */
        #about_h {
            font-size: 26px;
            padding: 120px 0 10px 10px;
        }
        .about_me {
            padding: 0px;
        }
        .inner {
            position: absolute;
            display: flex;
            justify-content: centre;
            padding: 5px;
        }
        .about_StyledText {
            flex: 1;
            width: 100%;
            border: 0;
            font-size: 18px;
            padding: 0px;
        }
        .about_StyledPic {
            flex: 1;
            margin: 10%;
            width: auto;
            height: 100px;
            border: 0px;
            padding: 0px;
            min-height: 150px;
        }
        /* section3 */
        /* increase the heigth when u add projects in project_sec */
        .project_sec {
            padding: 5px;
            height: 100vh;
        }
        .main_proj_details {
            display: flex;
            flex: 1;
            height: 55vh;
        }
        #project_heading {
            font-size: 26px;
            padding: 1060px 0px 5px 0;
        }
        .example {
            display: flex;
            flex: 1;
            padding-left: 0px;
        }
        .box1 {
            display: flex;
            flex: 1;
            margin-right: 0px;
            width: 320px;
            height: 315px;
            padding-left: 0px;
        }
        #projects_img {
            width: 320px;
            height: 315px;
        }
        .box2 {
            /* display: grid; */
            display: flex;
            flex: 1;
            width: 320px;
            height: 315px;
            margin-left: 0px;
            background-color: rgb(13 110 253 / 25%);
        }
        .ul_list {
            margin-left: 50px;
        }
        h3.project_title {
            margin: 0px;
            font-size: xx-large;
        }
        .project_title {
            top: 20px;
            left: 18px;
            position: absolute;
            z-index: 11;
            font-weight: 700;
        }
        /* section4 */
        #about_section {
            display: flex;
            padding: 0px;
            margin: 0px;
            top: 1500px;
        }
        .div_about {
            display: flex;
            flex: 1;
            padding-top: 640px;
            margin: 26px;
        }
        .p_colouroverride {
            color: #f8f9fa;
            padding: 18px;
            text-align: inherit;
        }
        .paragraph_padding {
            padding: 5px;
        }
        .div_about {
            margin: -10px 6% 0 6%;
        }
    }
    
    @media screen and (max-width:360px) {
        .div_about {
            padding-top: 1010px;
        }
    }